<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
	<h2>喂，你现在正在修改一名用户。。。</h2>
	<input value="<%= user.name %>" name="name" class="form-control" type="text"/>
	<input value="<%= user.title %>" name="title" class="form-control" type="text"/>
	<input value="<%= user.email %>" name="email" class="form-control" type="text"/>

	<% if(session.authenticated && session.User.admin) { %>
		<% if(user.admin) { %>
		Admin <input type="checkbox" name="adminX" checked/>
		<% } else { %>
		Admin <input type="checkbox" name="adminX"/>
		<% } %>
    <% } %>

		
	
	<input type="submit" value="更改" class="btn btn-lg btn-primary btn-block"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>"/>
</form>